html,body{
    background: #fff;
    height: 100%;
    min-height: 100%!important;
}
.inner{
    width: 100%;
    height: 100%;
}
/* 顶部 */
.top{
    width: 100%;
    height: 13%;
    box-shadow: 5px 5px 5px #e9e9e9;
}
/* logo */
.top .logo{
    height: 100px;
    line-height: 100px;
    width: 220px;
    margin-left: 40px;
}
.top .logo img{
    height: 90px;
    margin-top: 5px;
}
.top .logo h1{
    font-size: 28px;
    color: #153e4c;
}
.top .line{
    height: 40px;
    width: 1.5px;
    margin: 30px 20px;
    background: #b8b6bd;
}
/* 选项 */
.top .nav-title{
    width: 440px;
    height: 100px;
    line-height: 100px;
    margin: 3px -10px;
}
.top .nav-title li{
    float: left;
    width: 80px;
    height: 70px;
    text-align: center;
    margin: 0px 30px;
}
.top .nav-title li a{
    font-size: 20px;
    color: #424e67;
    line-height: 40px;
}
/* 正文 */
.content{
    width: 100%;
    height: 85%;
}
.content .left{
    float: left;
    background: #fff;
    color: #fff;
    width: 13%;
    height: 100%;
    margin: 7px 20px 0 0;
    padding-top: 60px;
}
.content .left li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 90px;
    margin: 30px 0px;
}
.content .left li a{
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.content .left li.active a{
    color: #3b97b7;
}
.content .main{
    overflow: hidden;
    height: 100%;
    background-color: #f1f6f8;
    margin-top: 5px;
}
.content .main div.hide {
    display: none;
}
.content .main div.main-active {
    margin: 30px 30px 30px 35px;
    width: 95%;
    height: 92%;
    border-radius: 20px;
    background-color: #fff;
}
.content .main div.main-active .title{
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin: 20px 0 20px 80px;
    padding-top: 20px;

}
.content .main div.main-active .title span{
    font-size: 27px;
}
.content .main div.main-active .info{
    width: 100%;
    margin-left: 60px;
}
.content .main div.main-active .info li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 20px;
}
.content .main div.main-active .info span{
    font-size: 16px;
}
.content .main div.main-active .info p{
    padding-left: 20px;
}
.content .main div.main-active .info li{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.content .main div.main-active .info li input{
    width: 300px;
    height: 36px;
    border: 0;
    outline: none;
    text-indent: 16px;
    font-size: 15px;
    color: #606266;
    border-radius: 5px;
    border: 1px solid #3b97b7;
}
.content .main div.main-active .info li button{
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 7px;
    background-color: #d1eaf2;
    color: #fff;
}
.content .main div.main-active .info li:hover button{
    background-color: #3b97b7;
}