*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
}
input{
    outline: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
/* 清除浮动 */
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}